@model Labb2_CallAPI_ASP.Data.Books

@{
	ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InStock)
        </dd>
    </dl>
</div>

